h3{
    font-size: 29px;
}
.btn-primary:hover{
    background-color: deeppink;
}
canvas{
    animation-name: mustache;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes mustache {
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px yellow;}
}